.movieCard {
  width: 130px;
  height: 200px;
  color: #a8a8a8;
  text-align: center;
  margin: 40px 10px 60px 10px;
  transition: all 0.3s ease;
  border-radius: 20px;
  p {
    font-size: 13px;
  }
}
.movieCard:hover {
  transform: translateY(-12px);
  width: 130px;
  height: 200px;
  cursor: pointer;
}
